## EX1 : ask user to enter lower case string and convert all characters with even index to upper case ?

In [1]:
var = input("Enter your Name").lower()
a = list(enumerate(var))
out = []
for i in range(len(a)):
    if a[i][0] % 2 == 0 :
        out.append(a[i][1].upper())
    else:
        out.append(a[i][1])

Enter your Namesherif

In [2]:
a[2][0]

2

In [3]:
string = ''.join(out)

In [4]:
string

'ShErIf'

## EX2 : you have a list of integers and ask user to enter number and if number exist inside list print exist else not exist ?

In [5]:
lst = [1,2,3,4,5]

var = int(input("Enter your Number"))

if var in lst:
    print("exist")
else:
    print("not exist")

Enter your Number3
exist

## EX3:  you have a list of integers and ask user to enter number and print number of occurrences of this number inside list ?

In [6]:
lst = [1,2,3,4,5]

lst.count(1)

1

## EX4: write a program to find number of occurrences for each item in list and store that output in dictionary ?

## EX5: you have a list and number search in list to find 2 items there sum is that number ?

In [ ]:
lst = [1,2,3,4,5]

var = int(input())
num1 = []
num2 = []

for i in lst:
    for j in lst:
        if var == i+j:
            num1.append(i)
            num2.append(j)

            print(i , j)

1 4
2 3
3 2
4 1

## EX6: you have a string you are asked to how many numbers , how many char , how many special char in it
* sample input 'abc123+-\z|'
* number of numbers = 3
* number of char = 4
* number of special char = 4

## EX7: For this dict find max city for each country
* sample output (Egy -- > Damietta) --------- (US -- > California) .............................
* countries = {'Egy' : {'Cairo' : 1200 , 'Luxor' : 198 , 'Giza' : 1987 , 'Damietta' : 19870}, 'US' : {'new Yourk' : 15500 , 'Los Angeles' : 1650 , 'California' : 18062} , 'UK' : {'London' : 1800 , 'Bristol' : 1890 , 'Manchester' : 19850} , 'france' : {'Paris' : 19820 , 'Marseille' : 1980 , 'Lyon' : 19875 } }

In [9]:
countries = {'Egy' : {'Cairo' : 1200 , 'Luxor' : 198 , 'Giza' : 1987 , 'Damietta' : 19870}, 'US' : {'new Yourk' : 15500 , 'Los Angeles' : 1650 , 'California' : 18062} , 'UK' : {'London' : 1800 , 'Bristol' : 1890 , 'Manchester' : 19850} , 'france' : {'Paris' : 19820 , 'Marseille' : 1980 , 'Lyon' : 19875 } }
for k,v in countries.items():
    print(k , max(v , key = v.get))

Egy Damietta
US California
UK Manchester
france Lyon

## EX8 : For this dictionary find total price for meal ?

In [15]:
meal = {'meat':400,'chicken':250,'beans':100}
sum(meal.values())

750

## EX9: ask user to enter integer number and show whether this number is prime or not ?

In [18]:
num1 = int(input("Enter your number"))
for i in range(2,num1):
    if num1 % i == 0:
        print("not prime")
        break
else:
    print("prime")

Enter your number4
not prime

## EX10 : you have a list you are asked to reverse this list ?

In [19]:
list1 = [1,2,3,4,5]
list1[::-1]

[5, 4, 3, 2, 1]

## EX11: Find Greatest Common divisor between two numbers

In [37]:
num1 = int(input("Enter your number"))
num2 = int(input("Enter your number"))
for i in range(1,min(num1,num2)+1):
    if num1 % i == 0 and num2 % i == 0:
        max = i
print(max)

Enter your number12
Enter your number24
12

In [ ]:
2

## EX12: Write a program that repeatedly collects positive integers from the user, stopping when the user enters a negative number or zero. After that, output the product of all positive entries.

In [38]:
list1 = []
while True:
    num = int(input("Enter your number"))
    if num > 0:
        list1.append(num)
    else:
        break
print(list1)

Enter your number1
Enter your number2
Enter your number3
Enter your number4
Enter your number5
Enter your number6
Enter your number0
[1, 2, 3, 4, 5, 6]

## EX13: Write a program that accepts from the user a list of positive integers and displays the number of even and odd values in the list. The program accepts numbers from the user until he enters a negative value.

In [41]:
list1 = []
while True:
    num = int(input("Enter your number"))
    if num > 0:
        list1.append(num)
    else:
        break
if len(list1) > 0:
    even = 0
    odd = 0
    for i in list1:
        if i % 2 == 0:
            even += 1
        else:
            odd += 1
print("even = " , even)
print("odd = " , odd)

Enter your number1
Enter your number2
Enter your number3
Enter your number4
Enter your number5
Enter your number6
Enter your number0
even =  3
odd =  3

In [ ]:
3

## EX14: Write a program that asks the user to enter an integer and reports all divisors in ascending order.

In [44]:
num = int(input("Enter your number"))
list1=[]
for i in range(1,num+1):
    if num % i == 0:
        list1.append(i)
print(list1)

Enter your number10
[1, 2, 5, 10]

## EX15: Write a program that accepts numbers from the user and then tells the maximum two numbers of them. The results should be displayed when the user enters a negative number

In [46]:
list1 = []
while True:
    num = int(input("Enter your number"))
    if num > -1:
        list1.append(num)
    else:
        break
list1.sort()
print(list1[-1] , list1[-2])

Enter your number2
Enter your number3
Enter your number5
Enter your number7
Enter your number0
Enter your number-1
7 5